<!-- <div class="container">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Sandwiches">
        <label class="form-check-label" for="inlineCheckbox1">Sandwiches</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Fast Food">
        <label class="form-check-label" for="inlineCheckbox2">Fast Food</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="American" >
        <label class="form-check-label" for="inlineCheckbox3">American</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="Pizza">
        <label class="form-check-label" for="inlineCheckbox4">Pizza</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="Coffee & Tea" >
        <label class="form-check-label" for="inlineCheckbox5">Coffee & Tea</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="Italian" >
        <label class="form-check-label" for="inlineCheckbox6">Italian</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="Seafood" (change)= "seafood = seafoodcb.checked" disabled checked>
        <label class="form-check-label" for="inlineCheckbox7">Seafood</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="Salad" (change)= "salad = saladcb.checked" disabled checked>
        <label class="form-check-label" for="inlineCheckbox8">Salad</label>
    </div>
</div>
<div class="container">
    <svg class="col-lg-10 justify-content-center" id="coxcomb" viewBox="0,0,1000,1000" font-family="sans-serif" font-size="10"></svg>
</div> -->
